In [1]:
%matplotlib inline

import gmaps
import pandas as pd
import pathlib
import requests

from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv(pathlib.Path("cities.csv"))
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Nemuro,JP,2022-01-02 08:42:52,43.3236,145.5750,18.03,65,100,15.79
1,1,Jumla,NP,2022-01-02 08:46:38,29.2747,82.1838,50.00,38,50,4.94
2,2,Khatanga,RU,2022-01-02 08:46:38,71.9667,102.5000,-55.46,99,85,3.18
3,3,Severo-Kurilsk,RU,2022-01-02 08:46:39,50.6789,156.1250,27.66,90,100,11.52
4,4,Aklavik,CA,2022-01-02 08:46:40,68.2191,-135.0107,-21.28,89,100,21.61

In [3]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

## Heatmaps

### Configure gmaps

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

### Max Temperature

In [5]:
# Heatmap of maximum temperature
# Get the latitude and longitude.
locations = city_data_df[['Lat', 'Lng']]
# Get the maximum temperature.
max_temp = city_data_df['Max Temp']
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heatmap_layer = gmaps.heatmap_layer(
    locations,
    weights=[max(temp, 0) for temp in max_temp],
    dissipating=False,
    max_intensity=300,
    point_radius=4
)
# Add the heatmap layer.
fig.add_layer(heatmap_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

### Percent Humidity

In [6]:
# Heatmap of percent humidity
# Get the latitude and longitude.
locations = city_data_df[['Lat', 'Lng']]
# Get the percent humidity.
humidity = city_data_df['Humidity']
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heatmap_layer = gmaps.heatmap_layer(
    locations,
    weights=humidity,
    dissipating=False,
    max_intensity=300,
    point_radius=4
)
# Add the heatmap layer.
fig.add_layer(heatmap_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

### Percent Cloudiness

In [7]:
# Heatmap of percent cloudiness
# Get the latitude and longitude.
locations = city_data_df[['Lat', 'Lng']]
# Get the percent cloudiness.
cloudiness = city_data_df['Cloudiness']
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heatmap_layer = gmaps.heatmap_layer(
    locations,
    weights=cloudiness,
    dissipating=False,
    max_intensity=300,
    point_radius=4
)
# Add the heatmap layer.
fig.add_layer(heatmap_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

### Wind Speed

In [8]:
# Heatmap of wind speed
# Get the latitude and longitude.
locations = city_data_df[['Lat', 'Lng']]
# Get the wind speed.
wind_speed = city_data_df['Wind Speed']
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heatmap_layer = gmaps.heatmap_layer(
    locations,
    weights=wind_speed,
    dissipating=False,
    max_intensity=300,
    point_radius=4
)
# Add the heatmap layer.
fig.add_layer(heatmap_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Ask the customer to add a minimum and maximum temperature value. min: 75, max: 90
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip?  75
What is the maximum temperature you would like for your trip?  90

In [10]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df['Max Temp'] >= min_temp)
                                       & (city_data_df['Max Temp'] <= max_temp)].dropna()
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
6,6,Prieska,ZA,2022-01-02 08:46:41,-29.6641,22.7474,81.09,19,58,1.25
18,18,Rikitea,PF,2022-01-02 08:46:49,-23.1203,-134.9692,77.22,73,7,8.30
20,20,Vung Tau,VN,2022-01-02 08:42:28,10.3460,107.0843,80.40,73,66,18.50
23,23,Butaritari,KI,2022-01-02 08:46:52,3.0707,172.7902,82.09,66,100,10.02
24,24,Souillac,MU,2022-01-02 08:46:53,-20.5167,57.5167,84.58,61,20,11.50
25,25,Biak,ID,2022-01-02 08:46:53,-0.9131,122.8766,79.07,84,100,1.70
26,26,Queanbeyan,AU,2022-01-02 08:46:54,-35.3500,149.2333,82.18,55,96,2.80
29,29,Vaini,TO,2022-01-02 08:46:56,-21.2000,-175.2000,77.16,94,75,9.22
34,34,Hambantota,LK,2022-01-02 08:46:59,6.1241,81.1185,84.54,79,20,11.50
36,36,Mahebourg,MU,2022-01-02 08:47:00,-20.4081,57.7000,84.49,61,20,11.50

In [11]:
hotel_df = preferred_cities_df[['City', 'Country', 'Max Temp', 'Lat', 'Lng']].copy()
hotel_df['Hotel Name'] = ''
hotel_df.head()

          City Country  Max Temp      Lat       Lng Hotel Name
6      Prieska      ZA     81.09 -29.6641   22.7474
18     Rikitea      PF     77.22 -23.1203 -134.9692
20    Vung Tau      VN     80.40  10.3460  107.0843
23  Butaritari      KI     82.09   3.0707  172.7902
24    Souillac      MU     84.58 -20.5167   57.5167

In [12]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping")

Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping

In [13]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
6,Prieska,ZA,81.09,-29.6641,22.7474,Avenue GuestHouse
18,Rikitea,PF,77.22,-23.1203,-134.9692,People ThankYou
20,Vung Tau,VN,80.40,10.3460,107.0843,Green hotel
23,Butaritari,KI,82.09,3.0707,172.7902,Isles Sunset Lodge
24,Souillac,MU,84.58,-20.5167,57.5167,Shanti Maurice Resort & Spa
25,Biak,ID,79.07,-0.9131,122.8766,Penginapan Kim
26,Queanbeyan,AU,82.18,-35.3500,149.2333,Parkway Motel
29,Vaini,TO,77.16,-21.2000,-175.2000,Keleti Beach Resort
34,Hambantota,LK,84.54,6.1241,81.1185,Bungalow 63
36,Mahebourg,MU,84.49,-20.4081,57.7000,Shandrani Beachcomber Resort & Spa

In [14]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
</dl>
"""

# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [15]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]

fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(
    locations,
    weights=max_temp,
    dissipating=False,
    max_intensity=300,
    point_radius=4
)

marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)

fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))